.lightbox .modal-content {
  background-color: transparent !important;
  border: none !important;
}

.lightbox .modal-header {
  border-bottom: none !important;
}

.activeImgContainter {
  display: flex;
  justify-content: center;
  align-items: center;
}
